$base-font-family: unquote('sans-serif');
$background-color: #f6f6f6;
$font-family: 'Roboto', sans-serif;
$theme-color-primary: #393b5d;
$theme-color-secondary: #f06969;
$theme-color-tertiary-light: #151d46;
$theme-color-white: #fff;
$theme-color-black: #000;
$darken-color: rgba(0, 0, 0, .33);
$darken-color-light: rgba(0, 0, 0, .1);
$lighten-color: rgba(255, 255, 255, .33);
$disabled-color: #ccc;
$section-background-color: #eff7fc;
$section-border-color: #dbedf8;
$item-border-color: #f4f9fd;
$line-height: 1.5em;
$font-size: 16px;
$font-color: rgba(0, 0, 0, .7);
$font-color-light: #fff;
$font-weight: 300;
$max-width: 78em;
$box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
$box-shadow-elevated: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
$box-shadow-bottom: 0 2px 5px rgba(0, 0, 0, .26);
$box-shadow-top: 0 -2px 5px rgba(0, 0, 0, .26);
$input-border-radius: 4px;
$border-darken: 1px solid rgba(0, 0, 0, .33);
$border-lighten: 1px solid rgba(0, 0, 0, .05);
$overlay-background-color: rgba(0, 0, 0, .5);
$max-width: 72em;
$background-pattern-primary: url('/img/pattern.png');

@mixin breakpoint($point: desktop) {
    @if $point == desktop-xxl {
        @media only screen and (min-width: 90em) {
            @content;
        }
    }

    @else if $point == desktop-l {
        @media only screen and (min-width: 78em) {
            @content;
        }
    }

    @else {
        @media only screen and (min-width: 48em) {
            @content;
        }
    }
}
