<nav class="nav-menu checkbox">
    <div class="hamburger">
        <input type="checkbox" id="hamburger">
        <label for="hamburger" onclick="">
            Toggle Menu
        </label>
        <div class="side-nav always-open-on-desktop">
            <div class="nav-header">
                <div class="logo">
                    <img src="/img/logo.png" title="Complete Motors Ltd." alt="Complete Motors logo" />
                </div>
            </div>
            <div class="nav-body">
                <div class="section pages">
                    <ul class="page-list">
                        <li>
                            <a href="/" title="Home"><i class="icon"><img alt="Home" src="/img/ic_dashboard_black_24px.svg"></i>Home</a>
                        </li>
                        <li>
                            <a href="/learn" title="Learn"><i class="icon"><img alt="Learn" src="/img/ic_school_black_24px.svg"></i>Learn</a>
                        </li>
                        <li>
                            <a href="/settings" title="Settings"><i class="icon"><img alt="Settings" src="/img/ic_settings_black_24px.svg"></i>Settings</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
