<section class="main content">
	<section class="finish">
		<img src="/img/party.png" alt="party" />
	    <h1>Congratulations!</h1>
	    <span>You can now speak fluent Polish</span>
    </section>
</section>
