<section class="banner">
	<img src="{{ data.images.src }}" srcset="{{ data.images.srcset }}" alt="{{ data.images.alt }}" />
</section>
<section class="main content home">
    <section class="richtext card">
        <div class="card-content">
            {{{ data.html }}}
        </div>
        <div class="card-buttons">
            <a href="/learn" class="button" title="get started">Get Started!</a>
        </div>
    </section>
</section>
