<section class="main">
	<ul class="setting-list">
		<li class="item">
			<label for="pushNotifications">
				<span class="title">Push Notifications</span>
				<span class="description">Recieve notification messages</span>
				<div class="input">
			    	<input type="checkbox" id="pushNotifications"/>
		    		<span class="switch"></span>
		    		<span class="toggle">&nbsp;</span>
	    		</div>
		    </label>
		</li>
		<li class="item">
			<a id="a2hs" href="#" class="title disabled">Add to Homescreen</span>
		</li>
		<li class="item">
			<a href="https://www.incredible-web.com/" target="_blank" class="title">About Incredible Web</a>
		</li>
	</ul>
</section>
