{{> banner data.images }}
<main class="main content home">
    <section class="richtext card">
        <div class="card-content">
            {{{ data.html }}}
        </div>
        <div class="card-buttons">
            <a href="/learn" class="button" title="get started">Get Started!</a>
        </div>
    </section>
</main>
