<main class="main">
	<ul class="setting-list">
		<li class="item">
			<label for="push-notifications">
				<span class="title">Push Notifications</span>
				<span class="description">Recieve notification messages</span>
				<div class="input">
			    	<input type="checkbox" id="push-notifications"/>
		    		<span class="switch"></span>
		    		<span class="toggle">&nbsp;</span>
	    		</div>
		    </label>
		</li>
		<li id="a2hs" class="item">
			<span class="title">Add to Homescreen</span>
		</li>
		<li class="item">
			<a href="https://www.incredible-web.com/" target="_blank" class="title">About Incredible Web</a>
		</li>
	</ul>
</main>
